<% layout('layouts/boilerplate')%>
    <h1>
        <%= task.title %>
    </h1>
    <h2>Description : <%= task.description %>
    </h2>
    <footer>
        <p><a href="/tasks/<%=task._id%>/edit">Edit</a></p>
        <form action="/tasks/<%=task._id%>?_method=DELETE" method="POST">
            <button>Delete Task</button>
        </form>
        <a href=" /tasks">All Tasks</a>
    </footer>